{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "1",
    "title" : "Elastic Cloud API",
    "termsOfService" : ""
  },
  "host" : "api.elastic-cloud.com",
  "basePath" : "/api/v1/",
  "tags" : [ {
    "name" : "DeploymentTemplates"
  }, {
    "name" : "Deployments"
  }, {
    "name" : "DeploymentsTrafficFilter"
  }, {
    "name" : "Extensions"
  }, {
    "name" : "Stack"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/deployments" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "List Deployments",
        "description" : "List Deployments.",
        "operationId" : "list-deployments",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "The list of deployments that belong to the authenticated user.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentsListResponse"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      },
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Create Deployment",
        "description" : "Creates a Deployment.",
        "operationId" : "create-deployment",
        "parameters" : [ {
          "name" : "request_id",
          "in" : "query",
          "description" : "An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "If true, will just validate the Deployment definition but will not perform the creation",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The deployment definition",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeploymentCreateRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "The request was valid and a new deployment was created",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/DeploymentCreateResponse"
            }
          },
          "202" : {
            "description" : "The request was valid and deployment creation had already been started.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentCreateResponse"
            }
          },
          "200" : {
            "description" : "The request was valid (used when validate_only is true).",
            "schema" : {
              "$ref" : "#/definitions/DeploymentCreateResponse"
            }
          },
          "400" : {
            "description" : "The deployment request had errors.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      }
    },
    "/deployments/_search" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Search Deployments",
        "description" : "Retrieves the information for all of the deployments that match the specified query.",
        "operationId" : "search-deployments",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "(Optional) The search request to execute. NOTE: When not specified, all of the deployments are matched.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SearchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of deployments that match the specified query and belong to the authenticated user.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/DeploymentsSearchResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Commands"
        }
      }
    },
    "/deployments/extensions" : {
      "get" : {
        "tags" : [ "Extensions" ],
        "summary" : "List Extensions",
        "description" : "Retrieves all of the available extensions.",
        "operationId" : "list-extensions",
        "parameters" : [ {
          "name" : "include_deployments",
          "in" : "query",
          "description" : "Include deployments referencing this extension.\nDEPRECATED: To get the list of deployments that reference an extension, use the Get Extension API.\n",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The extensions that are available",
            "schema" : {
              "$ref" : "#/definitions/Extensions"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "post" : {
        "tags" : [ "Extensions" ],
        "summary" : "Create an extension",
        "description" : "Creates the extension.\n The extensions API supports two types of usage patterns.\n A). Specify a `download_url`, http or https URL,  where the extension is currently hosted. This will result in extension being copied to elastic repository.\n B). Create only the extension metadata using the `POST` endpoint and then use `PUT` to upload the extension file. Leave the `download_url` unspecified in this case.\n",
        "operationId" : "create-extension",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "the data that creates the extension",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreateExtensionRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "The extension that was just created.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Extension"
            }
          },
          "404" : {
            "description" : "Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.no_user_id" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "400" : {
            "description" : "Could not download the extension from the specified URL. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "409" : {
            "description" : "An extension already exists with the generated id. Please try again. (code: `extensions.id_already_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.id_already_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      }
    },
    "/deployments/extensions/{extension_id}" : {
      "get" : {
        "tags" : [ "Extensions" ],
        "summary" : "Get Extension",
        "description" : "Retrieves an extension.",
        "operationId" : "get-extension",
        "parameters" : [ {
          "name" : "extension_id",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "include_deployments",
          "in" : "query",
          "description" : "Include deployments referencing this extension. Up to only 10000 deployments will be included.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The Extension",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Extension"
            }
          },
          "404" : {
            "description" : "The extension requested does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "post" : {
        "tags" : [ "Extensions" ],
        "summary" : "Update Extension",
        "description" : "Updates an extension.",
        "operationId" : "update-extension",
        "parameters" : [ {
          "name" : "extension_id",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The extension update data.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateExtensionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Extension updated successfully.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Extension"
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The extension you want does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "400" : {
            "description" : "Could not download the extension from the specified URL. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "409" : {
            "description" : "The version you sent does not match the persisted version. (code: `extensions.version_conflict`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.version_conflict" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "put" : {
        "tags" : [ "Extensions" ],
        "summary" : "Uploads the Extension",
        "description" : "Uploads archive for an extension.",
        "operationId" : "upload-extension",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "extension_id",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "formData",
          "description" : "Zip file that contains the extension",
          "required" : true,
          "type" : "file"
        } ],
        "responses" : {
          "200" : {
            "description" : "Archive uploaded successfully.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/Extension"
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The extension you want does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "400" : {
            "description" : "Could not accept the extensions file. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "delete" : {
        "tags" : [ "Extensions" ],
        "summary" : "Delete Extension",
        "description" : "Deletes a Extension.",
        "operationId" : "delete-extension",
        "parameters" : [ {
          "name" : "extension_id",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Extension deleted successfully.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The extension requested does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "409" : {
            "description" : "The version you sent does not match the persisted version. (code: `extensions.version_conflict`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "extensions.version_conflict" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      }
    },
    "/deployments/templates" : {
      "get" : {
        "tags" : [ "DeploymentTemplates" ],
        "summary" : "Get deployment templates",
        "description" : "Retrieves all deployment templates.",
        "operationId" : "get-deployment-templates-v2",
        "parameters" : [ {
          "name" : "metadata",
          "in" : "query",
          "description" : "An optional key/value pair in the form of (key:value) that will act as a filter and exclude any templates that do not have a matching metadata item associated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stack_version",
          "in" : "query",
          "description" : "If present, it will cause the returned deployment templates to be adapted to return only the elements allowed in that version.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "Region of the deployment templates",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The deployment templates were returned successfully.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/DeploymentTemplateInfoV2"
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized to access requested region. (code: `templates.region_not_allowed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "templates.region_not_allowed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "400" : {
            "description" : "The requested region was not found. (code: `templates.region_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "templates.region_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Templates"
        }
      }
    },
    "/deployments/templates/{template_id}" : {
      "get" : {
        "tags" : [ "DeploymentTemplates" ],
        "summary" : "Get deployment template",
        "description" : "Retrieves a deployment template by id.",
        "operationId" : "get-deployment-template-v2",
        "parameters" : [ {
          "name" : "template_id",
          "in" : "path",
          "description" : "The identifier for the deployment template.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "stack_version",
          "in" : "query",
          "description" : "If present, it will cause the returned deployment template to be adapted to return only the elements allowed in that version.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "Region of the deployment template",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The deployment template was found and returned successfully.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentTemplateInfoV2"
            }
          },
          "404" : {
            "description" : "The deployment template specified by {template_id} cannot be found. (code: `templates.template_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "templates.template_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "The user is not authorized to access requested region. (code: `templates.region_not_allowed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "templates.region_not_allowed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "400" : {
            "description" : "The requested region is not supported. (code: `templates.region_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "templates.region_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Templates"
        }
      }
    },
    "/deployments/traffic-filter/associations/{association_type}/{associated_entity_id}/rulesets" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Get associated rulesets",
        "description" : "Retrieves the rulesets associated with a deployment.",
        "operationId" : "get-traffic-filter-deployment-ruleset-associations",
        "parameters" : [ {
          "name" : "association_type",
          "in" : "path",
          "description" : "Association type",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "associated_entity_id",
          "in" : "path",
          "description" : "Associated entity ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Rulesets in the deployment were successfully returned",
            "schema" : {
              "$ref" : "#/definitions/TrafficFilterSettings"
            }
          },
          "400" : {
            "description" : "Invalid association type. (code: `traffic_filter.invalid_association_type`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.invalid_association_type" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Error fetching traffic filter rulesets. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - Associations"
        }
      }
    },
    "/deployments/traffic-filter/rulesets" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "List traffic filter rulesets",
        "description" : "List all of the traffic filter rulesets.",
        "operationId" : "get-traffic-filter-rulesets",
        "parameters" : [ {
          "name" : "include_associations",
          "in" : "query",
          "description" : "Retrieves a list of resources that are associated to the specified ruleset.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "If provided limits the rulesets to that region only.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of traffic filter routes",
            "schema" : {
              "$ref" : "#/definitions/TrafficFilterRulesets"
            }
          },
          "500" : {
            "description" : "Error fetching traffic filter rulesets. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      },
      "post" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Create a ruleset",
        "description" : "Creates a ruleset that consists of a set of rules.",
        "operationId" : "create-traffic-filter-ruleset",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The specification for traffic filter ruleset.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TrafficFilterRulesetRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "The ruleset definition is valid and the creation has started.",
            "schema" : {
              "$ref" : "#/definitions/TrafficFilterRulesetResponse"
            }
          },
          "500" : {
            "description" : "Error creating the traffic filter ruleset. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      }
    },
    "/deployments/traffic-filter/rulesets/{ruleset_id}" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Retrieves the ruleset by ID.",
        "description" : "Retrieves a list of resources that are associated to the specified ruleset.",
        "operationId" : "get-traffic-filter-ruleset",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "include_associations",
          "in" : "query",
          "description" : "Retrieves a list of resources that are associated to the specified ruleset.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The container for a set of traffic filter rules.",
            "schema" : {
              "$ref" : "#/definitions/TrafficFilterRulesetInfo"
            }
          },
          "404" : {
            "description" : "The traffic filter ruleset specified by {ruleset_id} cannot be found. (code: `traffic_filter.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Error reading the traffic filter ruleset. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      },
      "put" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Updates a ruleset",
        "description" : "Updates the ruleset with the definition.",
        "operationId" : "update-traffic-filter-ruleset",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The specification for traffic filter ruleset.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TrafficFilterRulesetRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The ruleset definition was valid and the update has started.",
            "schema" : {
              "$ref" : "#/definitions/TrafficFilterRulesetResponse"
            }
          },
          "404" : {
            "description" : "The traffic filter ruleset specified by {ruleset_id} cannot be found. (code: `traffic_filter.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Error reading the traffic filter ruleset. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      },
      "delete" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Delete a ruleset",
        "description" : "Deletes the ruleset by ID.",
        "operationId" : "delete-traffic-filter-ruleset",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ignore_associations",
          "in" : "query",
          "description" : "When true, ignores the associations and deletes the ruleset. When false, recognizes the associations, which prevents the deletion of the rule set.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The traffic filter ruleset was successfully deleted.",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The traffic filter ruleset specified by {ruleset_id} cannot be found. (code: `traffic_filter.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Error deleting the traffic filter ruleset. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      }
    },
    "/deployments/traffic-filter/rulesets/{ruleset_id}/associations" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Get associated deployments",
        "description" : "Retrieves a list of deployments that are associated to the specified ruleset.",
        "operationId" : "get-traffic-filter-ruleset-deployment-associations",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Associations referred by traffic filter rulesets were successfully returned",
            "schema" : {
              "$ref" : "#/definitions/RulesetAssociations"
            }
          },
          "500" : {
            "description" : "Error fetching deployments. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - Associations"
        }
      },
      "post" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Create ruleset association",
        "description" : "Applies the ruleset to the specified deployment.",
        "operationId" : "create-traffic-filter-ruleset-association",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Mandatory ruleset association description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FilterAssociation"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Create association request was valid and the association has been created",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "200" : {
            "description" : "Create association request was valid and the association already exists",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The traffic filter ruleset specified by {ruleset_id} cannot be found. (code: `traffic_filter.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Creation failed. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - Associations"
        }
      }
    },
    "/deployments/traffic-filter/rulesets/{ruleset_id}/associations/{association_type}/{associated_entity_id}" : {
      "delete" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Delete ruleset association",
        "description" : "Deletes the traffic rules in the ruleset from the deployment.",
        "operationId" : "delete-traffic-filter-ruleset-association",
        "parameters" : [ {
          "name" : "ruleset_id",
          "in" : "path",
          "description" : "The mandatory ruleset ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "association_type",
          "in" : "path",
          "description" : "Association type",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "associated_entity_id",
          "in" : "path",
          "description" : "Associated entity ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete association request was valid and the association has been deleted",
            "schema" : {
              "$ref" : "#/definitions/EmptyResponse"
            }
          },
          "404" : {
            "description" : "The traffic filter ruleset association cannot be found. (code: `traffic_filter.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Deletion failed. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "traffic_filter.request_execution_failed" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - Associations"
        }
      }
    },
    "/deployments/{deployment_id}" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "Get Deployment",
        "description" : "Retrieves information about a Deployment.",
        "operationId" : "get-deployment",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "show_security",
          "in" : "query",
          "description" : "Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_metadata",
          "in" : "query",
          "description" : "Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plans",
          "in" : "query",
          "description" : "Whether to include the full current and pending plan information in the response - can be large per cluster",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "show_plan_logs",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the attempt log - can be very large per cluster",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_history",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the plan history- can be very large per cluster",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_defaults",
          "in" : "query",
          "description" : "If showing plans, whether to show values that are left at their default value (less readable but more informative)",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "convert_legacy_plans",
          "in" : "query",
          "description" : "If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if 'true')",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_system_alerts",
          "in" : "query",
          "description" : "Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "show_settings",
          "in" : "query",
          "description" : "Whether to show cluster settings in the response.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "enrich_with_template",
          "in" : "query",
          "description" : "If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on",
          "required" : false,
          "type" : "boolean",
          "default" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "The Deployment info response",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/DeploymentGetResponse"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      },
      "put" : {
        "tags" : [ "Deployments" ],
        "summary" : "Update Deployment",
        "description" : "Updates a Deployment.",
        "operationId" : "update-deployment",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "hide_pruned_orphans",
          "in" : "query",
          "description" : "Whether or not to hide orphaned resources that were shut down (relevant if prune on the request is true)",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "skip_snapshot",
          "in" : "query",
          "description" : "Whether or not to skip snapshots before shutting down orphaned resources (relevant if prune on the request is true)",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "If true, will just validate the Deployment definition but will not perform the update",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "If specified then checks for conflicts against the version stored in the persistent store (returned in 'x-cloud-resource-version' of the GET request)",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The deployment definition",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeploymentUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was valid and the deployment was updated.",
            "headers" : {
              "x-cloud-resource-version" : {
                "type" : "string",
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations"
              },
              "x-cloud-resource-created" : {
                "type" : "string",
                "description" : "The date-time when the resource was created (ISO format relative to UTC)"
              },
              "x-cloud-resource-last-modified" : {
                "type" : "string",
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/DeploymentUpdateResponse"
            }
          },
          "400" : {
            "description" : "The deployment request had errors.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      }
    },
    "/deployments/{deployment_id}/_migrate" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Build Migrate Deployment Template request",
        "description" : "Returns a deployment update request that would transform this deployment from its template to the provided one.",
        "operationId" : "migrate-deployment",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "template",
          "in" : "query",
          "description" : "The ID of the deployment template to migrate to",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was valid and the deployment can be migrated to the template with the provided id.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentTemplateMigrateResponse"
            }
          },
          "400" : {
            "description" : "The deployment cannot be successfully migrated to the template with the provided id.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      }
    },
    "/deployments/{deployment_id}/_restore" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Restores a shutdown Deployment",
        "description" : "Restores all resources in a Deployment.",
        "operationId" : "restore-deployment",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "restore_snapshot",
          "in" : "query",
          "description" : "Whether or not to restore a snapshot for those resources that allow it.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was valid and the resources of the deployment were restored.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentRestoreResponse"
            }
          },
          "400" : {
            "description" : "There are Elasticsearch resources in the deployment which are not shut down.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      }
    },
    "/deployments/{deployment_id}/_shutdown" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Shuts down Deployment",
        "description" : "Shuts down all resources in a Deployment.",
        "operationId" : "shutdown-deployment",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "hide",
          "in" : "query",
          "description" : "Whether or not to hide the deployment and its resources.Only applicable for Platform administrators.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "skip_snapshot",
          "in" : "query",
          "description" : "Whether or not to skip snapshots before shutting down the resources",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "The request was valid and the resources of the deployment were shutdown.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentShutdownResponse"
            }
          },
          "400" : {
            "description" : "Parameter is restricted and can only be set by a Platform administrator. (code: `deployments.restricted_parameter`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.restricted_parameter" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      }
    },
    "/deployments/{deployment_id}/apm/{ref_id}" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "Get Deployment APM Resource Info",
        "description" : "Get info about an APM Resource belonging to a given Deployment.",
        "operationId" : "get-deployment-apm-resource-info",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "show_metadata",
          "in" : "query",
          "description" : "Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plans",
          "in" : "query",
          "description" : "Whether to include the full current and pending plan information in the response - can be large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "show_plan_logs",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the attempt log - can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_history",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the plan history- can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_defaults",
          "in" : "query",
          "description" : "If showing plans, whether to show values that are left at their default value (less readable but more informative).",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_settings",
          "in" : "query",
          "description" : "Whether to show cluster settings in the response.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response.",
            "schema" : {
              "$ref" : "#/definitions/ApmResourceInfo"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Info"
        }
      }
    },
    "/deployments/{deployment_id}/apm/{ref_id}/_reset-token" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Reset the secret token for an APM resource.",
        "description" : "Reset the token of an APM resource.",
        "operationId" : "deployment-apm-reset-secret-token",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "202" : {
            "description" : "Response containing the new secret token, plan to apply it starts",
            "schema" : {
              "$ref" : "#/definitions/ApmCrudResponse"
            }
          },
          "404" : {
            "description" : "* The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)\n* The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found", "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "449" : {
            "description" : "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "root.unauthorized.rbac.elevated_permissions_required" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "APM routes"
        }
      }
    },
    "/deployments/{deployment_id}/appsearch/{ref_id}" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "Get Deployment App Search Resource Info",
        "description" : "Get info about an App Search Resource belonging to a given Deployment.",
        "operationId" : "get-deployment-appsearch-resource-info",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "show_metadata",
          "in" : "query",
          "description" : "Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plans",
          "in" : "query",
          "description" : "Whether to include the full current and pending plan information in the response - can be large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "show_plan_logs",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the attempt log - can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_history",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the plan history- can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_defaults",
          "in" : "query",
          "description" : "If showing plans, whether to show values that are left at their default value (less readable but more informative).",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_settings",
          "in" : "query",
          "description" : "Whether to show cluster settings in the response.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response.",
            "schema" : {
              "$ref" : "#/definitions/AppSearchResourceInfo"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Info"
        }
      }
    },
    "/deployments/{deployment_id}/appsearch/{ref_id}/read_only_mode" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "Set AppSearch read-only status",
        "description" : "Enable/Disable read-only mode on the given App Search resource.",
        "operationId" : "get-appsearch-read-only-mode",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response",
            "schema" : {
              "$ref" : "#/definitions/ReadOnlyResponse"
            }
          },
          "404" : {
            "description" : "The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "App Search - Read-only"
        }
      },
      "put" : {
        "tags" : [ "Deployments" ],
        "summary" : "Set AppSearch read-only status",
        "description" : "Enable/Disable read-only mode on the given App Search resource.",
        "operationId" : "set-appsearch-read-only-mode",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "read-only request body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ReadOnlyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response",
            "schema" : {
              "$ref" : "#/definitions/ReadOnlyResponse"
            }
          },
          "404" : {
            "description" : "The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "449" : {
            "description" : "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "root.unauthorized.rbac.elevated_permissions_required" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "App Search - Read-only"
        }
      }
    },
    "/deployments/{deployment_id}/elasticsearch/{ref_id}" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "Get Deployment Elasticsearch Resource Info",
        "description" : "Get info about an Elasticsearch Resource belonging to a given Deployment.",
        "operationId" : "get-deployment-es-resource-info",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "show_security",
          "in" : "query",
          "description" : "Whether to include the Elasticsearch 2.x security information in the response - can be large per cluster and also include credentials.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_metadata",
          "in" : "query",
          "description" : "Whether to include the full cluster metadata in the response - can be large per cluster and also include credentials.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plans",
          "in" : "query",
          "description" : "Whether to include the full current and pending plan information in the response - can be large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "show_plan_logs",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the attempt log - can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_history",
          "in" : "query",
          "description" : "Whether to include with the current and pending plan information the plan history- can be very large per cluster.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_plan_defaults",
          "in" : "query",
          "description" : "If showing plans, whether to show values that are left at their default value (less readable but more informative).",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "convert_legacy_plans",
          "in" : "query",
          "description" : "If showing plans, whether to leave pre-2.0.0 plans in their legacy format (the default), or whether to update them to 2.0.x+ format (if 'true').",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "show_system_alerts",
          "in" : "query",
          "description" : "Number of system alerts (such as forced restarts due to memory limits) to be included in the response - can be large per cluster. Negative numbers or 0 will not return field.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "show_settings",
          "in" : "query",
          "description" : "Whether to show cluster settings in the response.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "enrich_with_template",
          "in" : "query",
          "description" : "If showing plans, whether to enrich the plan by including the missing elements from the deployment template it is based on.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response.",
            "schema" : {
              "$ref" : "#/definitions/ElasticsearchResourceInfo"
            }
          },
          "404" : {
            "description" : "The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Info"
        }
      }
    },
    "/deployments/{deployment_id}/elasticsearch/{ref_id}/_enable-ilm" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Migrate Elasticsearch resource to use ILM",
        "description" : "Migrates the specified Elasticsearch resource to use ILM.",
        "operationId" : "enable-deployment-resource-ilm",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "When `true`, does not enable ILM but returns warnings if any applications may lose availability during ILM migration.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Information to build the ILM policies that will be created",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/EnableIlmRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResourceCommandResponse"
            }
          },
          "404" : {
            "description" : "* The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)\n* The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found", "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "449" : {
            "description" : "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "root.unauthorized.rbac.elevated_permissions_required" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Commands"
        }
      }
    },
    "/deployments/{deployment_id}/elasticsearch/{ref_id}/_enable-slm" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Migrate Elasticsearch resource to use SLM",
        "description" : "Migrates the specified Elasticsearch resource to use SLM.",
        "operationId" : "enable-deployment-resource-slm",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "When `true`, does not enable SLM but returns warnings if any applications may lose availability during SLM migration.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Standard response",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResourceCommandResponse"
            }
          },
          "404" : {
            "description" : "* The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)\n* The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found", "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_no_longer_exists" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "449" : {
            "description" : "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "root.unauthorized.rbac.elevated_permissions_required" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Commands"
        }
      }
    },
    "/deployments/{deployment_id}/elasticsearch/{ref_id}/_reset-password" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Reset 'elastic' user password",
        "description" : "Resets the password of the 'elastic' user.",
        "operationId" : "reset-elasticsearch-user-password",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The password reset was out carried successfully",
            "schema" : {
              "$ref" : "#/definitions/ElasticsearchElasticUserPasswordResetResponse"
            }
          },
          "449" : {
            "description" : "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "root.unauthorized.rbac.elevated_permissions_required" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "404" : {
            "description" : "* The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)\n* The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found", "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "500" : {
            "description" : "Failed to reset the 'elastic' user's password. (code: `deployments.elasticsearch.password_reset_error`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.elasticsearch.password_reset_error" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ],
        "x-doc" : {
          "tag" : "Deployment - Commands"
        }
      }
    },
    "/deployments/{deployment_id}/elasticsearch/{ref_id}/_restart" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Restart Deployment Elasticsearch Resource",
        "description" : "Restarts an Elasticsearch Resource. If a Resource is active: this command re-applies the existing plan but applies a \"cluster_reboot\", which issues a restart command and waits for it to complete. If a Resource is inactive: this command starts it up with the most recent successful plan.",
        "operationId" : "restart-deployment-es-resource",
        "parameters" : [ {
          "name" : "deployment_id",
          "in" : "path",
          "description" : "Identifier for the Deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ref_id",
          "in" : "path",
          "description" : "User-specified RefId for the Resource.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "restore_snapshot",
          "in" : "query",
          "description" : "When set to true and restoring from shutdown, then will restore the cluster from the last snapshot (if available).",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "skip_snapshot",
          "in" : "query",
          "description" : "If true, will not take a snapshot of the cluster before restarting.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "cancel_pending",
          "in" : "query",
          "description" : "If true, cancels any pending plans before restarting. If false and there are pending plans, returns an error.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "group_attribute",
          "in" : "query",
          "description" : "Indicates the property or properties used to divide the list of instances to restart in groups. Valid options are: '\\_\\_all\\_\\_' (restart all at once), '\\_\\_zone\\_\\_' by logical zone, '\\_\\_name\\_\\_' one instance at a time, or a comma-separated list of attributes of the instances",
          "required" : false,
          "type" : "string",
          "default" : "__zone__"
        }, {
          "name" : "shard_init_wait_time",
          "in" : "query",
          "description" : "The time, in seconds, to wait for shards that show no progress of initializing, before rolling the next group (default: 10 minutes)",
          "required" : false,
          "type" : "integer",
          "default" : 600
        } ],
        "responses" : {
          "202" : {
            "description" : "The restart command was issued successfully.",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResourceCommandResponse"
            }
          },
          "404" : {
            "description" : "* The Deployment specified by {deployment_id} cannot be found. (code: `deployments.deployment_not_found`)\n* The Resource specified by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_not_found", "deployments.deployment_resource_not_found" ]
              }
            },
            "schema" : {
              "$ref" : "#/definitions/BasicFailedReply"
            }
          },
          "422" : {
            "description" : "The command sent to a Resource found the Resource in an illegal state, the error message gives more details. (code: `deployments.deployment_resource_plan_change_error`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "type" : "string",
                "description" : "The error codes associated with the response",
                "enum" : [ "deployments.deployment_resource_plan_change_error" ]
              }
            },
[...]
