name: api-validation

on:
  repository_dispatch:
    types: api-validation-tests
  schedule:
    # Run every 9PM UTC
    - cron:  '0 21 * * *'

jobs:
  api-validation:
    name: Run API validation tests against a proxy for the ESS public API.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.15
        id: go

      - name: Set up GitHub token auth
        run: git config --global url."https://${GITHUB_TOKEN}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_MARCLOP }}

      - name: Start proxy server and run API validation tests
        id: proxy
        run: make validation-proxy & make wait-on-proxy && make api-validation
        env:
          EC_API_KEY: ${{ secrets.EC_API_KEY }}
          RELEASE_BRANCH: 1.0
          APISPEC_FILENAME: apidocs-user.json
